# API Endpoints=
TTS_WEBSOCKET_URL=
STT_API_URL=

# Audio Settings=
AUDIO_CHUNK=
AUDIO_FORMAT=
AUDIO_CHANNELS=
AUDIO_RATE=
SILENCE_THRESHOLD=
SILENCE_CHUNKS=
INITIAL_SILENCE_CHUNKS=
MAX_CONVERSATION_TIME=
SAMPLE_WIDTH=

# Text-to-Speech Settings=
# TTS_PROVIDER =
TTS_PROVIDER=
TTS_VOICE=
TTS_OPENAI_VOICE=
TTS_LANGUAGE=
TTS_MODEL=

# Speech-to-Text Settings=
# STT_PROVIDER =
STT_PROVIDER=
STT_LANGUAGE=
STT_MODEL=

# Chatbot Settings=
END_CONVERSATION_KEYWORDS=

# OpenAI config=
GPT_MODEL=
OPENAI_API_KEY=

# Dify config=
DIFY_API_URL=
DIFY_API_KEY=

# Add bot type configuration=
# "openai", "dify" or "local"=
BOT_TYPE=
LOCAL_LLM_URL=

# RTP Settings=
RTP_LOCAL_IP=
RTP_HOST=

# Port settings=
USER_PORT=
BOT_PORT=

# SERVICE config=
#PROMETHEUS=
PROMETHEUS_PORT=

#REDIS=
REDIS_HOST=
REDIS_PORT=

#MINIO=
MINIO_HOST=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

#RECORD=
PRODUCER_RECORD_PATH=
RECORD_PATH=
#RINGING_FILE=
# PROCESSING_FILE=
# GOODBYE_FILE=
# WELCOME_FILE=

# RINGING_FILE=
PROCESSING_FILE=
GOODBYE_FILE=
WELCOME_FILE=

# RECORD_PATH=
RINGING_FILE=
# PROCESSING_FILE=
# GOODBYE_FILE=
# WELCOME_FILE=

CONTAINER_RECORD_PATH=
CONTAINER_PROCESSING_FILE=
CONTAINER_GOODBYE_FILE=
CONTAINER_WELCOME_FILE=
CONTAINER_RINGING_FILE=

#ESL=
ESL_HOST=
ESL_PORT=
ESL_PASSWORD=
SIP_DOMAIN=

#RABBIT_MQ=
RABBIT_MQ_HOST=
RABBIT_MQ_PORT=
RABBIT_MQ_USER=
RABBIT_MQ_PASSWORD=
RABBIT_MQ_QUEUE=

#LOGGING FILE=
LOGGING_FILE=

#POSTGRES=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

HARD_PROMPT=

LOG_LEVEL=

#VAD SETTINGS=
VAD_MODE=
CONSECUTIVE_FRAMES=
FRAME_DURATION_MS=
MIN_VOLUME=
SPEECH_VOLUME=
SILENCE_FRAMES=
LONG_SILENCE_THRESHOLD=
MIN_BUFFER_SIZE=

ENABLE_NOISE_REDUCTION=
PROP_DECREASE=

# .env file=
UID=
GID=
DISPLAY=
XDG_RUNTIME_DIR=
